h1{
    padding: 40px;
    margin: 20px;
    border-style: solid;
    color: blue;
}
.terminal h2 {
    padding: 0px;
    margin: 15px;
    border-style: solid;
}
. {
    background-color: aquamarine;
}
div .algoritma dan veseudocode h3 {
    padding: 40px;
    margin: 20px;
    border-style: solid;
    